<header class="masthead">
    <nav class="language-nav">
         <ul>
            <li><a href="">CSS</a></li>
            <li><a href="">HTML</a></li> 
            <li><a href="">Javascript</a></li> 
            <li><a href="">Ruby</a></li>
        </ul>
    </nav>

    <img class="logo" src="assets/AA_Times_Logo.png" alt="AA_Times_Logo">
 
    <ul class="masthead-links">
        <li> Tuesday, October 18, 2016 </li> 
        <li class="icon_masthead"> <a href=""><i class="far fa-newspaper"></i>Today’s Paper</a></li>
        <li class="icon_masthead"> <a href=""><i class="fas fa-video"></i>Video</a></li>
        <li class="numerical_masthead"> <a href="">77°F</a></li>
        <li class="numerical_masthead"> <a href="">AAO <strong> +100%</strong></a> </li>
    </ul>

</header>