<ul id="sections-sidebar" class="sections-sidebar">
    <li> World</li>
    <li><section class="dropdown"> San Francisco
        <div class = "dropdown-menu">
        <div class="dropdown-arrow-outline"></div>
        <div class="dropdown-arrow"></div>
        <ul>
            <li>Students</li>
            <li>Teaching Assistants</li>
            <li>Instructors</li>
            <li>Career Advisors</li>
            <li>Cats</li>
        </ul>
        </div>
    </section>
    </li>
    <li> New York</li>
    <li> <section class="dropdown">Bootcamp Prep
        <div class = "dropdown-menu">
        <div class="dropdown-arrow-outline"></div>
        <div class="dropdown-arrow"></div>
        <ul>
            <li>Students</li>
            <li>Instructors</li>
            <li>Cats</li>
        </ul>
        </div>
        </section>
    </li>
    <li> Jumpstart</li>
    <li> <section class="dropdown">Online
        <div class = "dropdown-menu">
        <div class="dropdown-arrow-outline"></div>
        <div class="dropdown-arrow"></div>
        <ul>
            <li>Immersive</li>
            <li>Bootcamp Prep</li>
            <li>Cats</li>
        </ul> 
        </section></div>
    </li>
    <li> Marketing</li>
    <li> <section class="dropdown">Sales
        <div class = "dropdown-menu">
        <div class="dropdown-arrow-outline"></div>
        <div class="dropdown-arrow"></div>
        <ul>
            <li>Associates</li>
            <li>Analytics</li>
            <li>Cats</li>
        </ul> 
        </section></div>
    </li>
    <li> TalentMatch</li>
    <li> <section class="dropdown">Alumni   
        <div class = "dropdown-menu">
        <div class="dropdown-arrow-outline"></div>
        <div class="dropdown-arrow"></div> 
        <ul>
            <li>Students</li>
            <li>Companies</li>
            <li>Opinions</li>
            <li>Cats</li>
        </ul>
    </section></div>
    </li>
    <li> All</li> 
</ul>
